<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77975695178-lj4jpg0h7roaqtp7ase7lsmi4airf5vq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77975695178-lj4jpg0h7roaqtp7ase7lsmi4airf5vq</string>
	<key>API_KEY</key>
	<string>AIzaSyCHXyxJigh2oNnalvyLjhCapL0YEUtpFrI</string>
	<key>GCM_SENDER_ID</key>
	<string>77975695178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallpapersHub</string>
	<key>PROJECT_ID</key>
	<string>wallpaper-login-d9f9f</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpaper-login-d9f9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77975695178:ios:09092706b4ce9c9f591bb3</string>
</dict>
</plist>